 package   ${BuildDaoBean.basePath}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.http.ResponseEntity;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import cn.zy.dev.tools.units.CommSearchBean;
import cn.zy.dev.tools.units.SelectPage;
import cn.zy.dev.tools.units.SQLUilts.OptType;
import cn.zy.dev.tools.web.spring.bind.annotation.FormModel;
import cn.zy.dev.tools.web.spring.controller.ResponseEntityUnits;
import cn.zy.dev.tools.web.spring.shiro.client.ABShirOAuth2ClientHtmlController;

import java.util.ArrayList;
import java.util.List;



import ${BuildDaoBean.clazz.getName()};
import ${BuildDaoBean.basePath}.pojo.bean.${BuildDaoBean.className}SearchBean;
import ${BuildDaoBean.basePath}.controller.aop.IAop${BuildDaoBean.className}Service;
@Controller
@RequestMapping("${TableBean.action}")
public class ${BuildDaoBean.className}Controller extends ABShirOAuth2ClientHtmlController {

    @Autowired
    @Qualifier(IAop${BuildDaoBean.className}Service.name)
    private IAop${BuildDaoBean.className}Service service ;
	
	 
	@RequestMapping(value = "/list", method = { RequestMethod.POST })
    public ResponseEntity<?>  list(OptType optType, 
            @FormModel(parameterName = "bean") ${BuildDaoBean.className}SearchBean searchBean,
			@FormModel(parameterName = "commSearchBean") CommSearchBean commSearchBean) throws Exception {
     
            SelectPage<${BuildDaoBean.className}> selectPage = service.search(optType, searchBean, commSearchBean, getLoginUserId()) ;      
          return ResponseEntityUnits.createSelectPageResponseEntity(selectPage);
      
    }
    
    @RequestMapping(value = "/save", method = { RequestMethod.POST })
	public ResponseEntity<?> save(OptType optType, @FormModel(parameterName = "bean") ${BuildDaoBean.className} bean) throws Exception {

		${BuildDaoBean.className} i${BuildDaoBean.className} = service.saveUpdate(optType, bean, getLoginUserId());
		return ResponseEntityUnits.createSuccessResponseEntity(i${BuildDaoBean.className});

	}
	
	@RequestMapping(value = "/get", method = { RequestMethod.POST })
	public ResponseEntity<?> get(OptType optType, @FormModel(parameterName = "bean") ${BuildDaoBean.className}SearchBean bean) throws Exception {

		${BuildDaoBean.className} i${BuildDaoBean.className} = service.get(bean.getId());
		return ResponseEntityUnits.createSuccessResponseEntity(i${BuildDaoBean.className});

	}

	@RequestMapping(value = "/delete", method = { RequestMethod.POST })
	public ResponseEntity<?> delete(OptType optType, @FormModel(parameterName = "bean") ${BuildDaoBean.className}SearchBean bean) throws Exception {

		
		List<${BuildDaoBean.className}> i${BuildDaoBean.className}s =service.removes(optType, bean, getLoginUserId());

	
		return ResponseEntityUnits.createSuccessResponseEntity(i${BuildDaoBean.className}s);

	}

}
