 package   ${BuildDaoBean.basePath}.service.imples.base;
 




import java.util.ArrayList;
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Component;

import cn.oxo.iworks.databases.CommSearchBean;
import cn.oxo.iworks.databases.SQLUilts.OptType;
import cn.oxo.iworks.databases.SelectPage;
import cn.oxo.iworks.databases.SystemOptServiceException;


import ${BuildDaoBean.clazz.getName()};
import ${BuildDaoBean.basePath}.bean.search.${BuildDaoBean.toBean()}SearchBean;

import ${BuildDaoBean.basePath}.service.units.${BuildDaoBean.toBean()}SearchUnits;
import ${BuildDaoBean.basePath}.service.units.${BuildDaoBean.toBean()}SaveUpdateRemoveUnits;


//@Component(I${BuildDaoBean.toBean()}Service.name)
public abstract class ${BuildDaoBean.toBean()}BaseServiceImple   {

         
			  @Autowired
            @Qualifier("${BuildDaoBean.toBean()}SearchUnits")        
            private  ${BuildDaoBean.toBean()}SearchUnits  i${BuildDaoBean.toBean()}SearchUnits;
            
            
            @Autowired
	@Qualifier("${BuildDaoBean.toBean()}SaveUpdateRemoveUnits")
	private ${BuildDaoBean.toBean()}SaveUpdateRemoveUnits i${BuildDaoBean.toBean()}SaveUpdateRemoveUnits;
           
        
		   
			
            public ${BuildDaoBean.className} saveUpdate(OptType  optType ,   ${BuildDaoBean.className}  
			opt${BuildDaoBean.className} ,Long   optUserId )throws SystemOptServiceException{
        	     return 	i${BuildDaoBean.toBean()}SaveUpdateRemoveUnits.saveUpdate(optType, opt${BuildDaoBean.className});
        		}
            
       	   
            public SelectPage<${BuildDaoBean.className} > search(OptType  optType ,    
				   ${BuildDaoBean.toBean()}SearchBean  searchBean , CommSearchBean  commSearchBean, Long   optUserId )throws SystemOptServiceException{
				    return  i${BuildDaoBean.toBean()}SearchUnits.search(optType, searchBean,
					commSearchBean  );
            }
			
			 
			public List<${BuildDaoBean.className} > searchList(OptType  optType ,    
				           ${BuildDaoBean.toBean()}SearchBean  searchBean,CommSearchBean  commSearchBean  )throws SystemOptServiceException{
             
			  return  i${BuildDaoBean.toBean()}SearchUnits.list(optType, searchBean,
					commSearchBean  );
            
    }
            
			
            public  ${BuildDaoBean.className}   remove(OptType  optType ,   ${BuildDaoBean.toBean()}SearchBean  searchBean  ,Long   optUserId )throws SystemOptServiceException{
			      return   i${BuildDaoBean.toBean()}SaveUpdateRemoveUnits.remove(optType, searchBean);
			  }
			  
			  public  List<${BuildDaoBean.className} >    removes(OptType  optType ,  ${BuildDaoBean.toBean()}SearchBean  searchBean,Long   optUserId
			)throws SystemOptServiceException{
			
			return   i${BuildDaoBean.toBean()}SaveUpdateRemoveUnits.removes(optType, searchBean);
			
			
			}
			  
			   
            public ${BuildDaoBean.className} get(Long id) throws SystemOptServiceException {
                
                return   i${BuildDaoBean.toBean()}SaveUpdateRemoveUnits.get(id);
            }
			
	        
	public ${BuildDaoBean.className} searchSingle(OptType optType, ${BuildDaoBean.toBean()}SearchBean searchBean) throws SystemOptServiceException {
		
		return  i${BuildDaoBean.toBean()}SearchUnits.searchSingle( optType, searchBean);
	}
            
}
