package ${BuildDaoBean.basePath}.feign;

import java.util.List;

import ${BuildDaoBean.clazz.getName()};
import ${BuildDaoBean.basePath}.bean.search.${BuildDaoBean.toBean()}SearchBean;
import ${BuildDaoBean.basePath}.controller.aop.core.IAop${BuildDaoBean.toBean()}Service;


import org.springframework.cloud.openfeign.thirds.MyParams;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

import cn.oxo.iworks.databases.CommSearchBean;
import cn.oxo.iworks.databases.SQLUilts.OptType;
import cn.oxo.iworks.databases.SelectPage;
import cn.oxo.iworks.databases.SysOptError;
import cn.oxo.iworks.databases.SystemOptServiceException;

@FeignClient(name = 自定义, path = 自定义)
public interface I${BuildDaoBean.toBean()}FeignServiceClient extends I${BuildDaoBean.toBean()}FeignService {


}
