 package   ${BuildDaoBean.basePath}.service.imples;
 




import java.util.ArrayList;
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Component;


import ${BuildDaoBean.basePath}.service.I${BuildDaoBean.toBean()}Service;
import ${BuildDaoBean.basePath}.service.imples.base.${BuildDaoBean.toBean()}BaseServiceImple;




@Component(I${BuildDaoBean.toBean()}Service.name)
public class ${BuildDaoBean.toBean()}ServiceImple  extends  ${BuildDaoBean.toBean()}BaseServiceImple   implements I${BuildDaoBean.toBean()}Service {

         
			 
            
}
